body {
  font-size: 14px;
  font-family: 'Lato';
  background: url("../images/bg.png") bottom 190px right -100px no-repeat; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.theme-color {
  color: #ed2623; }

.trex-title {
  color: #ed2623;
  font-weight: 300; }

a:hover {
  text-decoration: none; }

ul {
  list-style: none; }

.top-nav-container {
  background: #ed2623;
  padding: 10px 0;
  overflow: hidden; }
  .top-nav-container nav ul li {
    float: left;
    margin-right: 20px;
    color: white; }
    .top-nav-container nav ul li i {
      color: white; }
    .top-nav-container nav ul li a {
      color: white; }

header .top-nav-container {
  background: #fcfcfc;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  overflow: hidden; }

header nav.top-nav ul li {
  float: left;
  margin-right: 20px; }
  header nav.top-nav ul li i {
    color: #ed2623;
    margin-right: 10px; }
  header nav.top-nav ul li a {
    color: #333;
    text-decoration: none; }
    header nav.top-nav ul li a:hover {
      color: #ed2623; }

header nav.main-nav {
  margin-top: 40px; }
  header nav.main-nav ul li {
    float: left;
    margin-right: 10px; }
    header nav.main-nav ul li a {
      color: #333;
      text-decoration: none;
      padding: 3px 8px; }
      header nav.main-nav ul li a:hover {
        color: #ed2623;
        border: 1px solid #ed2623;
        border-radius: 3px; }
      header nav.main-nav ul li a.active {
        color: #ed2623;
        border: 1px solid #ed2623;
        border-radius: 3px; }

.services-container {
  background: #ed2623;
  padding-bottom: 20px; }
  .services-container .services {
    margin-top: -100px;
    position: relative;
    z-index: 9999; }
  .services-container .request-a-quote {
    margin-top: 30px; }

.page {
  margin-top: 40px; }
  .page .trex-title {
    margin-top: 0; }
  .page.contact-us .card .card-action a {
    color: #333; }
  .page.alliances .card .card-title {
    background: none; }

.breadcrumb li a {
  color: #333; }

footer {
  background: #333 url("../images/map-dark.png") top right no-repeat;
  overflow: hidden;
  padding: 20px;
  margin-top: 20px; }
  footer h3 {
    color: white;
    margin-top: 40px;
    font-weight: 300; }
  footer p {
    color: white; }
    footer p.copyright {
      color: white; }
    footer p.social-icons {
      text-align: right;
      margin-top: 60px; }
      footer p.social-icons a {
        margin-right: 10px;
        color: white; }
        footer p.social-icons a:hover {
          color: #ed2623; }

.card-panel {
  transition: box-shadow 0.25s;
  padding: 20px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff; }

.card {
  position: relative;
  overflow: hidden;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow 0.25s;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .card .card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    font-size: 19px;
    width: 100%;
    background: rgba(0, 0, 0, 0.8); }
    .card .card-title.activator {
      cursor: pointer; }
  .card.small, .card.medium, .card.large {
    position: relative; }
    .card.small .card-image, .card.medium .card-image, .card.large .card-image {
      overflow: hidden; }
    .card.small .card-content, .card.medium .card-content, .card.large .card-content {
      overflow: hidden; }
    .card.small .card-action, .card.medium .card-action, .card.large .card-action {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
  .card.small {
    height: 300px; }
    .card.small .card-image {
      height: 150px; }
    .card.small .card-content {
      height: 150px; }
  .card.medium {
    height: 400px; }
    .card.medium .card-image {
      height: 250px; }
    .card.medium .card-content {
      height: 150px; }
  .card.large {
    height: 500px; }
    .card.large .card-image {
      height: 330px; }
    .card.large .card-content {
      height: 170px; }
  .card .card-image {
    position: relative; }
    .card .card-image img {
      border-radius: 2px 2px 0 0;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%; }
    .card .card-image .card-title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 10px 20px; }
  .card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px; }
    .card .card-content p {
      margin: 0;
      color: inherit; }
    .card .card-content .card-title {
      line-height: 48px; }
  .card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 20px; }
    .card .card-action p {
      text-align: right; }
      .card .card-action p a {
        color: #fff; }
        .card .card-action p a:hover {
          color: #fff; }
  .card .card-reveal {
    padding: 20px;
    position: absolute;
    background-color: #fff;
    width: 100%;
    overflow-y: auto;
    top: 100%;
    height: 100%;
    z-index: 1;
    display: none; }
    .card .card-reveal .card-title {
      cursor: pointer;
      display: block; }

/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    pointer-events: none; }
  .waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45); }
  .waves-effect.waves-light .waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, 0.7); }

.waves-notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important; }

.waves-circle {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); }

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom; }
  .waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1; }

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none; }

/* Define mobile styles */
@media only screen and (max-width: 40em) {
  header nav.main-nav {
    margin-top: 20px; }
    header nav.main-nav ul li a {
      padding: 3px 0px; }
  .services-container .services {
    margin-top: 20px; } }

/* max-width 640px, mobile-only styles, use when QAing mobile issues */
/* min-width 641px, medium screens */
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
/* min-width 1025px, large screens */
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
/* min-width 1441px, xlarge screens */
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
/* min-width 1921px, xxlarge screens */
#av-overlay-wrap {
  font-family: 'Lato';
  background: rgba(237, 38, 35, 0.9) !important; }
  #av-overlay-wrap #av-overlay {
    border-radius: 10px; }
    #av-overlay-wrap #av-overlay .logo {
      text-align: center; }
    #av-overlay-wrap #av-overlay h1 {
      font-size: 18px; }
